{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "env": {
    "es6": true
  }
}
