{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript", "prettier", "prettier/@typescript-eslint"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": 0
  },
  "env": {
    "es6": true
  }
}
